/********************** 공통 **********************/
:root {
	/* Size */
	--bn-size-type1: 340px;
	--bn-size-type2: 200px;
	--bn-size-type3: 280px;

	--content-width: 1140px;

	/* Border */
	--container-boarder-radius: 10px;


	/* color */
	--container-box-shadow: 1px 2px 3px 1px rgb(203, 203, 203);
	--bn-background-color: rgb(220, 222, 225, 0.35);

	--btn-type1-bg-color: #fff;
	--btn-type1-color: #000000;
	--btn-type2-bg-color: #000000;
	--btn-type2-color: #fff;
}

body {
	width: 100dvw;
	height: 100dvh;
	margin: 0;
	/* overflow-x: hidden; */
}

.header {
	position: relative;
	width: 100%;
	height: 32px;
	margin: 20px auto;
	display: flex;
	justify-content: center;
}

/* navbar */
.navbar {
	width: var(--content-width);
	height: 32px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar__menu-container {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.navbar__menu-container a {
	text-align: center;
	display: flex;
	align-items: center;
}

.navbar__menu-container .icon-stadium-info {
	margin: 0;
	list-style: none;
}

.navbar__menu-container .icon-mypage {
	width: 28px;
	height: 28px;
	margin: 0;
	list-style: none;
}

/* 배너 */
.banner-container {
	width: 100%;
	background-color: var(--bn-background-color);
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner {
	width: var(--content-width);
	height: calc(100% - 40px);
	border-radius: 10px;
	background-position: center;
	background-size: cover;
}

/* 내용 */
.content-container,
.form-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content__main {
	width: var(--content-width);
	height: auto;
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
	align-items: center;
	gap: calc(var(--content-width) - 1100px);

	/* background-color: aqua; */
	/* border-radius: 10px;
	box-shadow:	1px 2px 3px 1px rgb(203, 203, 203); */
}

/********************** 개별 **********************/

/* banner-container */
.banner-container-type1 {
	height: var(--bn-size-type3);
}

.matchgameinfo .content__main__left,
.matchgameinfo .content__main__right {
	width: 550px;
	height: 365px;
	border-radius: var(--container-boarder-radius);
	box-shadow: var(--container-box-shadow);
}

.matchgameinfo .content__main__left {
	display: flex;
	justify-content: space-evenly;
}

.match-team-container {
	width: calc(100% - 40px);
	height: calc(100% - 40px);
	margin: 20px;
	/* background-color: red; */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.match-team-title {
	flex: 1;
}

.match-user-info {
	flex: 1;
}

.match-team-title > p {
	font-size: 20px;
	font-weight: bold;
	border-bottom: 1px solid #000000;
	margin: 0 0 20px;
}


.form__check-container {
	display: flex;
	justify-content: center;
	height: 40px;
	margin: 20px auto;
}

/* .form__check-message {
	position: relative;;
	font-size: 14px;
	font-weight: bold;
}

.form__check-message > input {
	position: absolute;
	top: 1px;
	left: -25px;
}

.form__check-message > p {
	margin: 0;
}

.form__check-message > p:nth-child(2) {
	color: red;
} */

.form__btn-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	/* gap: 15px; */
	gap: calc(var(--content-width) - 1100px);
}

.form__btn-container > button {
	width: 550px;
	height: 48px;
	border-radius: 10px;
	border: none;
}

.form__btn-container > button {
	background-color: var(--btn-type1-bg-color);
	color: var(--btn-type1-color);

	border-radius: var(--container-boarder-radius);
	box-shadow: var(--container-box-shadow);

	font-size: 17px;
	cursor: pointer;
}

.form__btn-container > button:hover {
	background-color: var(--btn-type2-bg-color);
	color: var(--btn-type2-color);
}




/************** team user info card**************/
.match-userinfo-card {
	width: 220px;
	height: 48px;
	background-color: #fff;
	background: linear-gradient(#f8f8f8, #fff);
	box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
	border-radius: 6px;
	overflow: hidden;
	position: relative;
	margin-bottom: 10px;
	/* margin: 1.5rem; */
}

.match-userinfo-card .additional {
	position: absolute;
	width: 50px;
	height: 100%;
	transition: width 0.4s;
	overflow: hidden;
	z-index: 2;
}

.match-userinfo-card.home .additional {
	background: linear-gradient(#d94025, #EA4C2F);

}

.match-userinfo-card.away .additional {
	background: linear-gradient(#7cd424, #89E42F);
}

.match-userinfo-card:hover .additional {
	width: 100%;
	border-radius: 0 5px 5px 0;
}

.match-userinfo-card .additional .user-card {
	width: 50px;
	height: 100%;
	position: relative;
	float: left;
}

.match-userinfo-card .additional .user-card::after {
	content: "";
	display: block;
	position: absolute;
	top: 10%;
	right: -2px;
	height: 80%;
	border-left: 2px solid rgba(0, 0, 0, 0.025);
}

.match-userinfo-card .matchgameinfo__userprofile {
	position: absolute;
	top: 2px;
	left: 3px;
}

.match-userinfo-card .additional .more-info {
	position: absolute;
	left: 50px;
	width: 170px;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.match-userinfo-card .additional .more-info .container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.match-userinfo-card .additional .more-info-value {
	width: 32px;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.match-userinfo-card .additional .more-info-value > img {
	width: 32px;
	height: 32px;
	background-position: center;
	background-size: cover;
}

.match-userinfo-card .additional .more-info-value > p {
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}

.match-userinfo-card.away .additional .more-info-value > p {
	color: #202120;
}

.match-userinfo-card .additional .more-info-title {
	font-size: 10px;
	color: #fff;
	letter-spacing : 0.1em;
}

.match-userinfo-card.away .additional .more-info-title {
	font-size: 10px;
	color: #202120;
	letter-spacing : 0.1em;
}

.matchgameinfo__userprofile {
	width: 40px;
	height: 40px;
}

.matchgameinfo__userprofile > img {
	width: 40px;
	height: 40px;
	background-position: center;
	background-size: cover;
    border: 2px solid transparent;
    border-radius: 50%;
	background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #b1dfe3 0%, #ccb6e5 29%, #d5a1b2 67%, #d8d6a4 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.match-userinfo-card .general {
	width: 170px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
	align-items: center;

}

.match-userinfo-card .general .container {
	width: 120px;
	display: flex;
	align-items: center;
	gap: 3px;
}

.match-userinfo-card .general .container > img {
	width: 32px;
	height: 32px;
	background-position: center;
	background-size: cover;
}

.match-userinfo-card .general .container > p {
	font-size: 14px;
	font-weight: bold;
	/* overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap; */
}

.match-userinfo-card .general .manager {
	width: 24px;
	height: 24px;
	background-position: center;
	background-size: cover;
	visibility: hidden;
}

.match-userinfo-card .general .manager.manager-checked {
	visibility: initial;
}

/* content__main__right */
.matchgameinfo .content__main__right {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.matchgameinfo .content__main__right .stadium-title {
	font-size: 20px;
	font-weight: bold;
	margin: 20px auto;
}

.right-costInfo-container,
.right-content-container{
	display: flex;
	width: calc(100% - 40px);
	margin-bottom: 20px;
}

.right-costInfo-container {
	height: 40px;
	justify-content: end;
	align-items: center;
	margin: 0;
}

.right-costInfo-container > div {
	text-align: left;
	font-size: 17px;
	font-weight: bold;
}

.right-costInfo-container > div:nth-child(1) {
	text-align: left;
	margin-right: 10px;
}

.right-costInfo-container > div:nth-child(2) {
	color: #0066FF;
}

.match-point-title,
.right-content-container .content-title {
	width: 52px;
	font-size: 14px;
	font-weight: bold;
}

.content-schedule {
	font-weight: bold;
	color: #FF3232;
}

.match-point-title {
	width: fit-content;
	margin: 10px 0 0;
}

.right-content-container .content-container {
	width: calc(100% - 52px);
	display: flex;
	flex-direction: column;
	justify-content: start;
}

.right-content-container .content-container .content-location-container {
	display: flex;
	width: 100%;
	color: #727272;
	align-items: center;
	margin-top: 5px;
}

.right-content-container .content-container .content-location-container > svg {
	/* width: 14px; */
	height: 18px;
}

.right-content-container .content-container .content-location-container > p {
	margin: 0;
	text-decoration: underline;
}

.match-point-btn-container{
	width: calc(100% - 40px);
	display: flex;
	justify-content: space-between;
}

.match-point-btn-container > button {
	width: 115px;
	height: 35px;
	border-radius: 5px;
	background-color: var(--btn-type1-bg-color);
	color: var(--btn-type1-color);
	border: 1px solid var(--btn-type1-color);
}

.div-line {
	margin-top: 30px;
	width: calc(100% - 40px);
	border-bottom: 1px solid #000000;
}